.footer{
    background-color: lightgray;
    color: black;
    font-size: larger
}

.footerLinks {
    display:flex; 
    justify-content: space-evenly;
}

.footerLinks a{
color: black;
font-size: x-large
}

