body {
  margin: 0;
  background-image: linear-gradient(to bottom, rgb(27, 114, 245), white,rgb(27, 114, 245));
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
